{% extends 'base/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static '/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Contacto</p>
        <br>
        <p><b>Teléfono:</b> +57 316 372 6203</p>
        <p><b>Correo:</b> ingenierodiegomazorra@gmail.com </p>
      <!---  <p><b>Honorarios:</b> 60€/h (precio base)</p> --->
    </div>
</div>
{% endblock %}
